@CHARSET "UTF-8";
body, html {
	width: 100%;
  	height: 100%;
  	min-width: 1000px;
  	min-height: 1000px;
  	margin: 0;
  	font-family: Arial;
}

td {
	width: 300px;
}

.div01 {
	width: 100%;
	font-size: 4em;
	text-align: center;
	margin-bottom: 60px;
}

.div02 {
	width: 100%;
	height: :50px;	
	margin-bottom: 8px;
	padding-left: 45%;
}

.div03 {
	width: 100%;
	margin-bottom: 20px;
	padding-left: 44.5%;
	
}

.div04 {
	height: :50px;
	font-size: 10px;	
	margin-bottom: 18px;
	padding-left: 45%;
}

.div05 {	
	padding-left: 45%;
}

.tab01 {
	
}

.tab01_input01 {
	width: 272px;
	height: 50px;
	padding-left: 15px;
}

.tab01_input02 {
	width: 294px;
	height: 50px;
	background-color: black;
	color: white;
}

.tab01_input02:HOVER {
	background-color: #868686;
}

.tab02 {
	
}

.tab02_td01 {
	width: 174px;	
}

.tab02_td02 {
	background-color: #FFE400;
	color: black;
	border: 0;
	height: 30px;	
}

.tab03 {

	text-align: center;	
}

.tab03_td01 {

	width: 70px;
}

.tab03_td02 {

	width: 86px;
}

.tab03_td03 {

	width: 105px;
}

.tab03_td04 {

	width: 4px;
}

.tab03_a01 {
	text-decoration: none;
	color: black;
}

